
h1{
    font-weight: 600;
    text-align: center;
}
.user-list{
  width: 50%;
}
.user-card {
    display: flex;
    align-items: center;
    margin:5px 0px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* the falling effect display */
    animation: fadeInUp 0.5s ease forwards; 
    opacity: 0; 
    /* Hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
.user-card:hover{
    cursor: pointer;
    /* transform: scale(1.05);  */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}  

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start position (below) */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position (normal) */
  }
}

  .user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-details {
    margin-left: 20px;
  }
  
  .user-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .user-details p {
    margin: 5px 0;
  }
  
  .user-details strong {
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    h2{
        font-weight: 600;
    }
    .user-details h2 {
        font-size: 1rem;
        margin-bottom: 7px;
    }
    .user-list{
       width: 80%;
    }
    .user-card{
        padding: 10px;
        border-radius: 4px;
    }
    .user-details {
        margin-left: 10px;
      }
    .user-avatar img {
      width: 50px;
      height: 50px;
    }
  }