
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

.search-container.active {
  width: 400px; /* Increase width when active */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  background-color: #f8f9fa; 
}

.search-icon {
  position: absolute;
  left: 10px; 
  font-size: 16px; 
  color: #6c757d; 
}

.search-container input {
  padding-left: 40px; 
}

/* Ensure the search bar is centered when the navbar is collapsed */
@media screen and (max-width: 992px) {
 
  .search-container {
      width: 100%;
      max-width: 300px;
      margin: 10px auto ;
  }
}