.log:hover{
    cursor: pointer;
}

.search-hero {
    max-width: 500px;
  }
.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px; 
  font-size: 16px; 
  color: #6c757d; 
}

.search-container input {
  padding-left: 40px; 
}

/* Ensure the search bar is centered when the navbar is collapsed */
@media screen and (max-width: 992px) {
 
  .search-container {
      width: 100%;
      max-width: 300px;
      margin: 10px auto ;
  }
}